<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Person",
        "@id": "https://samwilcock.xyz/about/",
        "name": "Sam Wilcock",
        "nationality": "British",
        "birthPlace" : {
            "@type": "Place",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Leeds",
                "addressRegion": "West Yorkshire",
                "addressCountry": "England"
            }
        },
        "affiliation": [
            {
                "@type": "Organization",
                "name": "University of Leeds",
                "sameAs": [
                    "https://www.leeds.ac.uk/"
                ]
            }
        ],
        "alumniOf": [
            {
            "@type": "CollegeOrUniversity",
            "name": "University of Leeds",
            "sameAs": "https://en.wikipedia.org/wiki/University_of_Leeds"
            },
            {
            "@type": "CollegeOrUniversity",
            "name": "University of Nottingham",
            "sameAs": "https://en.wikipedia.org/wiki/University_of_Nottingham"
            }
        ],
        "gender": "Male",
        "Description": "Robotic Engineer",
        "disambiguatingDescription": "Postgraduate researcher in construction robotics",
        "jobTitle": "Researcher",
        "worksFor": [
            {
                "@type": "Organization",
                "name": "University of Leeds",
                "sameAs": [
                    "https://www.leeds.ac.uk/",
                    "https://en.wikipedia.org/wiki/University_of_Leeds"
                ]
            }
        ],
        "url": "https://sawilcock.xyz",
        "image": "{{ site.url }}/assets/img/me.png",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Leeds",
            "addressRegion": "West Yorkshire",
            "addressCountry": "England"
        }
    }
</script>