<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172781485-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172781485-1');
</script>


<!-- Setup for sharing to facebook -->
<meta property="fb:app_id" content="895679567585559" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />

{% if page.img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.img }}" />
{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
{% endif %}

<meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 }}" />

