<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172781485-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172781485-1');
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PRLRX739BZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PRLRX739BZ');
</script>


<!-- Setup for sharing to facebook -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}"
<meta property="fb:app_id" content="895679567585559" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="Sam Wilcock's Blog" />
<meta property="fb:app_id" content="895679567585559" />

{% if page.img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.img }}" />
{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
{% endif %}



{% if page.title contains "About" %}
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 }}" />
    {% include aboutJSONLD.html %} 
{% elsif page.title %}
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 300 }}" />
    {% include postsJSONLD.html %}
{% else %}
    <meta property="og:description" content="Sam Wilcock's page" />
    {% include homeJSONLD.html %}
{% endif %}  