<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172781485-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172781485-1');
</script>


<!-- Setup for sharing to facebook -->
{% if page.header-img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
{% endif %}

<meta property="og:description" content="{{ page.description }}" />