<!-- Adds return to top links on all pages-->
<!-- Doesn't work on Github -->
<!--
<script>
    document.querySelector('hy-push-state').addEventListener('hy-push-state-load', () => {
        if (window.location.href.includes("search") == false){
            let newNode = document.createElement("a");
            newNode.id="top";
            let refNode = document.getElementById("_main");
            
            refNode.before(newNode);
            
            let newLink = document.createElement("a");
            newLink.href="#top";
            newLink.innerText="Return to top";
            document.getElementsByTagName("article")[document.getElementsByTagName("article").length-1].innerHTML += `<a href="#top">Return to top</a>`;
        }
    }, {passive: true});
</script>-->
<!--
<script>
    document.querySelector('hy-push-state').addEventListener('hy-push-state-load', () => {
        var relPosts = document.getElementsByClassName("related-posts")[0].parentNode.innerHTML
        relPosts += `<div class="PageNavigation">`
        {% if page.previous.url %}
            relPosts += `<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>`
        {% endif %}
        {% if page.next.url %}
            relPosts += `<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>`
        {% endif %}
        relPosts += `</div>`
    }, {passive: true});
</script>
-->
<script>
    menuI = document.getElementById("_menu");
    let searchI = document.createElement("a");
    searchI.id="_searchM";
    searchI.href="/search";
    searchI.classList.add("nav-btn");
    searchI.classList.add("no-hover");
    searchI.innerHTML = `<span class="sr-only">Search</span><span class="icon-search"></span> `;
    menuI.parentNode.insertBefore(searchI, menuI.nextSibling);
  </script>