<!-- Adds return to top links on all pages-->
<!-- Doesn't work on Github -->
<!--
<script>
    document.querySelector('hy-push-state').addEventListener('hy-push-state-load', () => {
        if (window.location.href.includes("search") == false){
            let newNode = document.createElement("a");
            newNode.id="top";
            let refNode = document.getElementById("_main");
            
            refNode.before(newNode);
            
            let newLink = document.createElement("a");
            newLink.href="#top";
            newLink.innerText="Return to top";
            document.getElementsByTagName("article")[document.getElementsByTagName("article").length-1].innerHTML += `<a href="#top">Return to top</a>`;
        }
    }, {passive: true});
</script>-->
<!--
<script>
    document.querySelector('hy-push-state').addEventListener('hy-push-state-load', () => {
        var relPosts = document.getElementsByClassName("related-posts")[0].parentNode.innerHTML
        relPosts += `<div class="PageNavigation">`
        {% if page.previous.url %}
            relPosts += `<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>`
        {% endif %}
        {% if page.next.url %}
            relPosts += `<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>`
        {% endif %}
        relPosts += `</div>`
    }, {passive: true});
</script>
-->
<script>
    menuI = document.getElementById("_menu");
    let searchI = document.createElement("a");
    searchI.id="_searchM";
    searchI.href="/search";
    searchI.classList.add("nav-btn");
    searchI.classList.add("no-hover");
    searchI.innerHTML = `<span class="sr-only">Search</span><span class="icon-search"></span> `;
    menuI.parentNode.insertBefore(searchI, menuI.nextSibling);

    document.getElementById("_searchM").style.borderRight="none";
    document.getElementById("_searchM").style.borderLeft="none";

    menuI = document.getElementById("_menu");
    let homeI = document.createElement("a");
    homeI.id="_homeM";
    homeI.href="/";
    homeI.classList.add("nav-btn");
    homeI.classList.add("no-hover");
    homeI.innerHTML = `<span class="sr-only">Home</span><span class="icon-home3"></span> `;
    menuI.parentNode.insertBefore(homeI, menuI.nextSibling);

    document.getElementById("_homeM").style.borderRight="none";
    document.getElementById("_homeM").style.borderLeft="none";
  </script>
  
  <script>
    window.addEventListener('load', function () {
            iframeVis = document.getElementsByClassName("outerIFrame")[0];
            if (iframeVis != null){        
                _buttonCntr = document.createElement("center"); //Fix centring
                _button = document.createElement("button");
                _button.classList.add("myButton");
                _button.id = "loadButton";
                _button.innerHTML = "Load model";
                _buttonCntr.append(_button);
                
                iframeVis.parentNode.insertBefore(_buttonCntr, iframeVis);
                iframeVis.style.display = "none";


                _button.onclick = function() {
                    // Change button text
                    if (_button.innerText == "Load model") {_button.innerText = "Close"; } else {_button.innerText = "Load model";}
                    myframe = iframeVis.getElementsByTagName("iframe");
                    
                    // Change frame src
                    if (myframe[0].src == ""){ myframe[0].src = "about:blank"; } 
                    tmp = myframe[0].src;
                    myframe[0].src = myframe[0].dataset.src;
                    myframe[0].dataset.src = tmp;
                    
                    // Hide the block
                    if (iframeVis.style.display == "block"){
                        iframeVis.style.display = "none";
                    } else {
                        iframeVis.style.display = "block";
                    } 
                }
            }
        }) 
  </script>