<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "url": "{{ site.url }}{{ page.url }}",
  "name": {{ page.title | jsonify }},
  "headline": {{ page.title | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }},
  "datePublished": {{ page.date | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Sam Wilcock",
    "givenName": "Sam",
    "familyName": "Wilcock",
    "email": "el18sw@leeds.ac.uk",
    "jobTitle": "Postgraduate Researcher",
    "worksFor": "University of Leeds",
    "description": "Sam Wilcock is a Postgraduate Researcher in Civil Engineering at the University of Leeds, using robots to build shell structures."
  },
  "publisher": {
    "@type": "Organisation",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "https://swilcock0.github.io/assets/icons/favicon.ico"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    {% if page.img %}
      "url": "{{ site.url }}/{{ page.img }}"
    {% else %}
      "url": "{{ site.url }}/assets/img/logo.png"
    {% endif %}
  }
}
</script>